header {
  align-items: center;
  background: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
<<<<<<< HEAD

=======
>>>>>>> c1869ec0d956963bace6f48749257e175a8f47fa
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}
<<<<<<< HEAD

.logo-daetsiinf {
  height: 32px;
}

=======
.logo-daetsiinf {
  height: 32px;
}
>>>>>>> c1869ec0d956963bace6f48749257e175a8f47fa
.title {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}
<<<<<<< HEAD

.title span {
  font-size: 11px;
  font-family: 'Lato';
  letter-spacing: 0px;
  font-weight: 700;
  background: linear-gradient(-45deg, var(--blue), var(--purple));
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
}

=======
>>>>>>> c1869ec0d956963bace6f48749257e175a8f47fa
.header__right {
  display: flex;
  align-items: center;
  font-family: 'Lato';
}
<<<<<<< HEAD

.header__right div:not(.vertical-divider) {
  cursor: pointer;
}

=======
.header__right div:not(.vertical-divider) {
  cursor: pointer;
}
>>>>>>> c1869ec0d956963bace6f48749257e175a8f47fa
.vertical-divider {
  height: 15px;
  background: var(--dark-2);
  width: 1px;
  margin: 0px 11px;
}
<<<<<<< HEAD

=======
>>>>>>> c1869ec0d956963bace6f48749257e175a8f47fa
.dropdown__toggle {
  display: flex;
  align-items: center;
}
<<<<<<< HEAD

=======
>>>>>>> c1869ec0d956963bace6f48749257e175a8f47fa
.dropdown__menu {
  position: absolute;
  right: 50px;
}
<<<<<<< HEAD

=======
>>>>>>> c1869ec0d956963bace6f48749257e175a8f47fa
.dropdown__menu ul {
  list-style: none;
  background: var(--white);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  width: 150px;
  border-radius: 5px;
  color: var(--dark-4);
  transition: 0.3s all cubic-bezier(0.19, 1, 0.22, 1);
}
<<<<<<< HEAD

=======
>>>>>>> c1869ec0d956963bace6f48749257e175a8f47fa
.dropdown__menu ul li {
  padding: 10px 15px;
  padding-right: 3px;
  display: flex;
  align-items: center;
}

.dropdown__menu ul li i {
  font-size: 19px;
}
<<<<<<< HEAD

=======
>>>>>>> c1869ec0d956963bace6f48749257e175a8f47fa
.dropdown__menu ul li:hover {
  color: var(--white);
  background: var(--primary);
  transition: 0.3s all cubic-bezier(0.19, 1, 0.22, 1);
}
<<<<<<< HEAD

.dropdown__menu ul li span {
  margin-left: 10px;
}

=======
.dropdown__menu ul li span {
  margin-left: 10px;
}
>>>>>>> c1869ec0d956963bace6f48749257e175a8f47fa
.horizontal-divider {
  margin: 0;
}
