<header>
  <div class="header">
    <img class="logo-daetsiinf" src=".\assets\img\logos\daetsiinf.png">
    <h1 class="title">printf.es
      <span>{{version}}</span>
    </h1>
    <div class="header__right">
      <div class="balance">{{userInfo.quantity}} €</div>
      <div class="vertical-divider"></div>

      <div class="dropdown" (mouseover)="showUserDropdown = true" (mouseleave)="showUserDropdown = false">
        <div class="dropdown__toggle">
          <div class="dropdown__text">{{userInfo.username}}</div>
          <i class="material-icons">
            keyboard_arrow_down
          </i>
        </div>
        <nav class="dropdown__menu" [ngStyle]="{'zIndex':showUserDropdown?'1000':'-1'}">
          <ul [ngStyle]="{'margin-top':showUserDropdown?'10px':'0','opacity':showUserDropdown?'1':'0'}">
            <li>
              <i class="material-icons">insert_drive_file</i>
              <span>Documentos</span>
            </li>
            <li (click)="goTo('profile')">
              <i class="material-icons">settings</i>
              <span>Mis datos</span>
            </li>
            <li (click)="goTo('funds')">
              <i class="material-icons">history</i>
              <span>Historial de fondos</span>
            </li>
            <div class="horizontal-divider"></div>
            <li>
              <i class="material-icons">exit_to_app</i>
              <span>Cerrar sesión</span>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
