<main>
  <h3 class="skip">
    <a routerLink="/">
      saltar
    </a>
  </h3>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h2>Inicia sesión</h2>
        <img src="./assets/tutorial/auth.svg" alt="">
      </div>
      <div class="swiper-slide">
        <h2>Sube tus archivos</h2>
        <img src="./assets/tutorial/uploading.svg" alt="">
      </div>
      <div class="swiper-slide">
        <h2>Aumenta tu saldo</h2>
        <img src="./assets/tutorial/money.svg" alt="">
      </div>
      <div class="swiper-slide">
        <h2>Selecciona los archivos que quieres imprimir</h2>
        <img src="./assets/tutorial/printing.svg" alt="">
      </div>
      <div class="swiper-slide">
        <h2>y... ¡A estudiar!</h2>
        <img src="./assets/tutorial/studying.svg" alt="">
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</main>