<main>
  <h3 class="skip">
    <a routerLink="/" translate="skip"></a>
  </h3>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h2 translate="login"></h2>
        <img src="./assets/tutorial/auth.svg" alt="">
      </div>
      <div class="swiper-slide">
        <h2 translate="upload_files"></h2>
        <img src="./assets/tutorial/uploading.svg" alt="">
      </div>
      <div class="swiper-slide">
        <h2 translate="increase_balance"></h2>
        <img src="./assets/tutorial/money.svg" alt="">
      </div>
      <div class="swiper-slide">
        <h2 translate="select_files_to_print"></h2>
        <img src="./assets/tutorial/printing.svg" alt="">
      </div>
      <div class="swiper-slide">
        <h2 translate="and_study"></h2>
        <img src="./assets/tutorial/studying.svg" alt="">
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</main>
