main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--neutrals-10);
}

.message {
  width: 100%;
  padding: 1em;
  text-align: center;
  color: var(--complementary-8);
  background: var(--supporting__error-3);
  font-weight: 700;
}

.upload-zone {
  flex: 1;
  margin: 40px;
  border-radius: 5px;
  border: 5px dashed var(--primary-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-zone span {
  margin: 10px;
  font-weight: bold;
}

input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input+label {
  display: inline-block;
  border: 1px solid var(--neutrals-2);
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

input+label:hover {
  cursor: pointer;
  background: var(--neutrals-8);
}

.hovering {
  background: var(--complementary-9);
  border: 5px dashed var(--complementary-4);
  transition: .2s all ease;
}
