<main>
  <div class="message" translate="attention_private_use_only"></div>

  <div class="upload-zone" appDropZone [class.hovering]="isHovering" (hovered)="toggleHover($event)">
    <span translate="drag_files"></span>
    <span translate="or"></span>
    <div class="input">
      <input type="file" name="files" id="files" multiple (change)="onChangeFiles($event)">
      <label for="files" translate="select_files"></label>
    </div>

  </div>
  <div class="queue" [ngStyle]="{'display': files.length != 0 ? 'initial': 'none'}">
    <app-queue></app-queue>
  </div>

</main>
