.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s all ease;
  opacity: 1;
  animation: opacity .2s ease;
  background: rgba(0, 0, 0, .4);
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.change-name {
  max-width: 400px;
  width: 60vw;
  height: 20vh;
  background: var(--neutrals-10);
  padding: 25px 30px;
  z-index: 1001;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: .2s all ease;
  animation: zoom .2s ease;
}

@keyframes zoom {
  from {
    transform: scale(.5)
  }

  to {
    transform: scale(1);
  }
}

.change-name header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--neutrals-2);
}

.change-name header span {
  font-size: 19px;
  font-weight: 700;
}

.change-name header i {
  font-size: 25px;
}

.change-name input {
  width: 100%;
  margin: 0 auto;
  border: 0;
  color: var(--neutrals-2);
  border-bottom: 1px solid var(--neutrals-2);
  background: none;
  font-size: 17px;
  padding: 4px;
  margin-top: 50px;
  outline: none;
}

.change-name input:focus {
  border: none;
  border-bottom: 1px solid var(--primary-3);
}

.change-name .buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.change-name .buttons button {
  font-size: 13px;
  font-weight: 700;
  background: var(--primary-3);
  border: none;
  padding: 9px 21px;
  border-radius: 10px;
  color: var(--neutrals-10);
  text-transform: uppercase;
  height: 33px;
  transition: .2s all ease;
  cursor: pointer;
  outline: none;
}

.change-name .buttons .cancel {
  background: none;
  color: var(--neutrals-1);
  margin-right: 10px;
}

@media screen and (max-width:992px) {
  .change-name {
    width: 85vw;
    padding: 10px 20px;
  }

  .change-name header span {
    font-size: 17px;
  }

  .change-name header i {
    font-size: 17px;
  }

  .change-name input {
    margin-top: 20px;
    font-size: 15px;
    border-bottom-width: 2px;
  }

  .change-name input:focus {
    border-bottom-width: 1px;
  }

  .change-name .buttons button {
    padding: 5px 10px;
  }
}
