<section class="queue">
  <header (click)="toggleQueue()">
    <h4>
      <span translate="see_printer_queue"></span>
       -
      <span>{{filesInQueue.length}} </span>
      <span translate="element"></span>
      <span *ngIf="filesInQueue.length !== 1">s</span>
    </h4>
    <i class="material-icons" [ngStyle]="{'transform': showQueue ? 'rotate(-45deg)': 'none'}">add</i>
  </header>
  <div class="content">
    <div class="first-step">
      <div class="step-title" (click)="setStep('first')">
        <h5><span class="step-number">1</span><span translate="settings"></span></h5>
        <button class="next" [ngStyle]="{'transform': step !== 'first' ? 'scale(0)': 'scale(1)'}" (click)="setStep('second')" translate="next_step"></button>
      </div>
      <div class="grid">
        <div class="header">
          <span class="name" translate="name"></span>
          <span class="npages" translate="npages"></span>
          <span class="doubled-sided center" translate="double_sided"></span>
          <span class="color center" translate="color"></span>
          <span class="ncopies" translate="ncopies"></span>
          <span class="price" translate="price"></span>
          <span class="remove"></span>
        </div>
        <div class="file" *ngFor="let file of filesInQueue; index as i">
          <span class="name">{{file.name}}</span>
          <span class="npages">{{file.npages}}</span>
          <div class="doubled-sided options">
            <app-checkbox [checked]="file.doubleSided" (checkedEmitter)="setDoubledSided($event, i)"></app-checkbox>
          </div>
          <div class="color options">
            <app-checkbox [checked]="file.color" (checkedEmitter)="setColor($event, i)"></app-checkbox>
          </div>
          <div class="ncopies">
            <i class="material-icons" [ngClass]="{'disabled':file.ncopies <= 1}" (click)="file.ncopies = file.ncopies >= 1 ? file.ncopies - 1 : file.ncopies">remove</i>
            <input class="ncopies" type="number" value="{{file.ncopies}}" min="1" max="99" (change)="file.ncopies = $event.target.value > 0 && $event.target.value < 99 ? $event.target.value : 99">
            <i class="material-icons" [ngClass]="{'disabled':file.ncopies >= 99}" (click)="file.ncopies = file.ncopies <= 99 ? file.ncopies + 1 : file.ncopies">add</i>
          </div>
          <span class="price">{{getPrice(file)}}</span>
          <span class="remove" (click)="removeFile(i)" translate="delete"></span>
        </div>
        <p class="more-info" *ngIf="getWindowSize() < 500" translate="more_info_on_the_right"><i class="material-icons">arrow_right_alt</i></p>
      </div>
    </div>
    <div class="second-step bottom" [ngClass]="{'show-step': step === 'second'}">
      <div class="step-title" (click)="step = 'second'">
        <h5><span class="step-number">2</span><span translate="price"></span></h5>
        <button class="next cancel" (click)="cancel()" [ngStyle]="{'transform': step !== 'second' ? 'scale(0)': 'scale(1)'}" translate="cancel"></button>
        <button class="next" (click)="printFiles()" [disabled]="currentAmount() - cost() < 0" [ngStyle]="{'transform': step !== 'second' ? 'scale(0)': 'scale(1)'}" translate="print"></button>
      </div>
      <div class="data">
        <div class="current" *ngIf="showMyMoney">
          <span class="text">
            <span translate="current_balance"></span>
            <span>:</span>
          </span>
          <span class="amount">{{currentAmount().toLocaleString('es')}}€</span>
        </div>
        <span class="difference" *ngIf="showMyMoney">-</span>
        <div class="cost">
          <span class="text">
            <span translate="total_price"></span>
            <span>:</span>
          </span>
          <span class="amount">{{cost().toLocaleString('es')}}€</span>
        </div>
        <hr class="difference-separator" *ngIf="showMyMoney">
        <div class="cost" *ngIf="showMyMoney">
          <span class="text">
            <span translate="subsequent_balance"></span>
          </span>
          <span class="amount" [ngClass]="{'error': currentAmount() - cost() < 0}">{{(currentAmount()
            - cost()).toLocaleString('es')}}€</span>
        </div>
      </div>
      <div class="alert" *ngIf="currentAmount() - cost() < 0" translate="not_enought_balance"></div>
    </div>
  </div>
</section>
<div (click)="toggleQueue()" class="overlay" [ngClass]="{'show':showQueue}"></div>
