main {
  min-height: calc(100vh - 300px);
  position: relative;
  margin-bottom: 25px;
  padding: 30px 35px;
}

h1 {
  color: var(--neutrals-1);
  font-size: 23px;
  margin-bottom: 20px;
}

section {
  display: flex;
  margin-top: 15px;
}

section aside {
  max-width: 25vw;
}

section aside h3 {
  font-size: 18px;
  color: var(--neutrals-3);
}

section aside p {
  color: var(--neutrals-5);
  font-size: 14px;
  line-height: 1;
  margin-top: 7px;
}

section > div {
  flex: 1;
  padding: 0 30px;
  margin-top: 3px;
}

.item {
  margin-bottom: 20px;
}

.item > span {
  margin-left: 5px;
}

h5 {
  font-size: 15px;
  color: var(--neutrals-2);
  margin-bottom: 4px;
}

.buttons {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  background: none;
  border: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
}

.buttons button.cancel {
  margin-right: 20px;
  color:var(--neutrals-3);
}

.buttons button.cancel:hover{
  background: var(--neutrals-8);
}

.buttons button.update {
  background: var(--primary-4);
  color: var(--primary-10);
  box-shadow: 0 1px 3px var(--neutrals-6);
}

.buttons button.update:hover{
  background: var(--primary-3);
  box-shadow: none;
}

@media screen and (max-width: 552px) {
  section{
      flex-direction: column;
  }
  section aside {
    max-width: inherit;
  }
  section > div {
    padding: 0;
    margin-top: 15px;
  }
}