<app-header></app-header>
<main>
  <h1 translate="settings"></h1>
  <div class="horizontal-divider"></div>
  <section>
    <aside>
        <h3 translate="my_data"></h3>
        <p translate="my_data_description"></p>
    </aside>
    <div>
      <div class="item">
        <h5 translate="email"></h5>
        <span>{{userInfo.email}}</span>
      </div>
      <div class="item">
        <h5 translate="username"></h5>
        <span>{{userInfo.username}}</span>
      </div>
      <div class="item">
        <h5 translate="password"></h5>
        <app-button [text]="'change_your_password'" (click)="changePassword()"></app-button>
      </div>
      <div class="item">
        <h5 translate="language"></h5>
        <app-select [options]="['Castellano']" (selectChange)="languageOnChange($event)"></app-select>
      </div>
      <div class="buttons">
        <button class="cancel" translate="cancel"></button>
        <button class="update" translate="update"></button>
      </div>
    </div>
  </section>
  <div class="horizontal-divider"></div>
  <section>
    <aside>
        <h3 translate="balance"></h3>
        <p translate="balance_description"></p>
    </aside>
    <div>
      <div class="item">
        <h5 translate="current_balance"></h5>
        <span>{{userInfo.funds}} €</span>
      </div>
      <div class="item">
        <h5 translate="funds_history"></h5>
        <app-button [text]="'see_funds_history'" (click)="goTo()"></app-button>
      </div>
      <div class="item">
        <h5 translate="increase_balance"></h5>
        <app-button [text]="'see_increase_balance'" (click)="goTo()"></app-button>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
