<app-header></app-header>
<main>
  <div class="version">
      <div class="title">
        <h2>Cigoto</h2>
        <div class="date">2/2/2019</div>
      </div>
      <ul>
        <li>Nuevo líneas de diseño. Creada nueva paleta de colores.</li>
        <li>Añadido control de errores a la hora de hacer login y registro.</li>
        <li>Creación de un nuevo kit de UI con: text-input y checkbox.</li>
      </ul>
    </div>
  <div class="version">
    <div class="title">
      <h2>Fecundación</h2>
      <div class="date">21/12/2018</div>
    </div>
    <ul>
      <li>Registro e inicio de sesión de cuentas.</li>
      <li>Añadido subida de ficheros, editar nombres y eliminarlos.</li>
      <li>Gestión de cola de impresión: Número de copias, a doble cara y a color o blanco y negro.</li>
      <li>Añadido la página de tutorial.</li>
      <li>Añadido la página de versiones.</li>
      <li>Gráfica de historial de cambios.</li>
    </ul>
  </div>
</main>
<app-footer></app-footer>
