<header>
  <div class="header">
    <i class="material-icons" (click)="toggleMenu()">menu</i>
    <h1 class="title">REPROGRAFÍA
      <span>{{version}}</span>
    </h1>
    <img class="logo-daetsiinf" src=".\assets\img\logos\daetsiinf.png">
  </div>
  <div class="files-bar">
    <a routerLink="/my-files">
      mis archivos
    </a>
    <a routerLink="/shared-with-me">
      compartidos conmigo
    </a>
  </div>
</header>
<div class="active" *ngIf="showFilesNav()" [ngClass]="{'active-left': currentPage !== '/my-files'}"></div>
<app-menu></app-menu>
