<header>
  <div class="header">
    <i class="material-icons" (click)="toggleMenu()">menu</i>
    <h1 class="title">printf.es
      <span>{{version}}</span>
    </h1>
    <img class="logo-daetsiinf" src=".\assets\img\logos\daetsiinf.png">
  </div>
  <div class="files-bar">
    <a routerLink="/my-files" style="width: 100%;">
      mis archivos
    </a>
    <a routerLink="/shared-with-me" [hidden]="true">
      compartidos conmigo
    </a>
  </div>
</header>
<div class="active" *ngIf="showFilesNav()" [ngClass]="{'active-left': currentPage !== '/my-files'}" style="width: 100%;"></div>
<app-menu [userInfo]="userInfo"></app-menu>
