.menu,
#close-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  transition: 0.3s all cubic-bezier(0.19, 1, 0.22, 1);
}

/**CLOSE MENU**/
#close-menu {
  width: 100%;
  background: var(--neutrals-1);
  cursor: pointer;
}

.showing {
  z-index: 1000;
  opacity: 0.3;
}

.hidding {
  opacity: 0;
  z-index: -1;
}

/**TOP MENU**/
.menu {
  z-index: 1001;
  width: 80%;
  background: var(--neutrals-10);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.menu__top {
  background: linear-gradient(45deg, var(--primary-4), var(--primary-2));
  color: var(--neutrals-10);
}

.menu__top-row {
  display: flex;
  padding: 22px 15px 0 15px;
}

.menu__top-row .user__info {
  flex: 1;
}

.menu__top-row .material-icons {
  margin-top: 2px;
  color: var(--neutrals-9);
}

.material-icons {
  font-size: 22px;
}

.user__name {
  margin-left: 10px;
}

.user__email {
  font-weight: 300;
  font-size: 11px;
  padding: 5px 0 10px 15px;
  width: 90%;
  color: var(--neutrals-9);
}

/**BALANCE**/
.menu__balance {
  display: flex;
  align-items: baseline;
  padding: 0px 10px 0px px;
  font-size: 13px;
  font-weight: 400;
  background: var(--neutrals-9);
  color: var(--neutrals-3);
  text-transform: uppercase;
  height: 36px;
  align-items: center;
  padding-left: 15px;
}

.balance__quantity {
  color: var(--neutrals-1);
  flex: 1;
  margin-left: 5px;
  font-weight: 600;
}

.recharge {
  cursor: pointer;
  cursor: pointer;
  background: var(--complementary-4);
  padding: 0px 4px;
  color: var(--white);
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 80px;
  justify-content: center;
}

/**NAV**/
nav {
  flex: 1;
}

ul {
  margin-top: 10px;
}

li {
  padding: 7px 5px;
}

li .material-icons {
  color: var(--neutrals-4);
  margin: 0 10px;
  font-size: 14px;
}

li span {
  color: var(--neutrals-1);
}

li .option {
  display: none;
}
