<div class="menu" [ngStyle]="{'marginLeft': getIsOpen() ? '0' : '-80%' }">
  <div class="menu__top">
    <div class="menu__top-row">
      <i class="material-icons user-icon">person</i>
      <div class="user__info">
        <h3 class="user__name">{{userInfo.username}}</h3>
      </div>
      <i class="material-icons" (click)="toogleMenu()">close</i>
    </div>
    <h5 class="user__email">{{userInfo.email}}</h5>
  </div>
  <div class="menu__balance">
    <span class="balance">
      <span translate="balance"></span>
      <span>: </span>
    </span>
    <span class="balance__quantity">{{userInfo.funds}} €</span>
    <span class="recharge" translate="recharge"></span>
  </div>

  <nav>
    <ul>
      <li>
        <i class="material-icons">insert_drive_file</i>
        <span translate="my_files"></span>
      </li>
      <li (click)="goTo('profile')">
        <i class="material-icons">settings</i>
        <span translate="my_data"></span>
      </li>
      <li (click)="goTo('funds')">
        <i class="material-icons">history</i>
        <span translate="funds_history"></span>
      </li>
      <div class="horizontal-divider"></div>
      <li (click)="logout()">
        <i class="material-icons">exit_to_app</i>
        <span translate="logout"></span>
      </li>
    </ul>
  </nav>
  <app-footer></app-footer>
</div>
<div id="close-menu" [ngClass]="[getIsOpen() ? 'showing' : 'hidding']" (click)="toogleMenu()"></div>
