<app-header></app-header>
<main>
  <section class="card">
    <div class="header">
      <h2>Historial de fondos</h2>
      <button class="increase-balance">aumentar saldo</button>
    </div>

    <div class="content">
      <div class="current-amount">2,05€</div>
      <div class="timeline"></div>
      <div class="movements">
        <div>
          <div class="date">19/10/2018</div>
          <div class="amount">
            <div class="dot red">- 1,02 €</div>
          </div>
          <div class="info">Se imprimió: Arquitectura de computadores</div>
        </div>
        <div>
          <div class="date">19/10/2018</div>
          <div class="amount">
            <div class="dot red">- 1,02 €</div>
          </div>
          <div class="info">Se imprimió: Arquitectura de computadores</div>
        </div>
      </div>
    </div>
  </section>

</main>
