.input-container {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 15px auto;
    --padding: 4px;
    --placeholder__padding: 10px;
    --input__font-size: 13.5px;
    --placeholder__font-size: 12px;
    --errors_font-size: 12px;
    --border-radius: 4px;
}
.input-container label{
    position: absolute;
    top: -8px;
    padding: 0 var(--padding);
    color: var(--neutrals-6);
    margin-left: var(--placeholder__padding);
    font-size: var(--placeholder__font-size);
    background: #fff;
    user-select: none;
}
.input-container.active label{
    color: var(--primary-7);
}

.input-container.error label{
    color: var(--supporting__error-7);
}

.input-container input{
    width: 100%;
    max-width: 300px;
    margin: 2px auto;
    border: 1px solid var(--neutrals-6);
    border-radius: var(--border-radius);
    padding: var(--placeholder__padding);
    color: var(--neutrals-2);
    outline: 0;
    transition: .3s all ease;
    font-size: var(--input__font-size);
}

.input-container input:focus {
    margin: 1px auto;
    border: 2px solid var(--primary-7);
}

/*Just for native*/
.input-container.active input,
.input-container.error input {
    margin: 1px auto;
    border: 2px solid var(--primary-7);
}
/**/

.input-container.error input {
    border-color: var(--supporting__error-7);
}


/*Errors*/
.input-container.error .errors{
    font-size: var(--errors_font-size);
    display: flex;
    background: var(--supporting__error-9);
    padding: 4px 10px;
    border: 2px solid var(--supporting__error-5);
    border-radius: var(--border-radius);
    width: 100%;
    margin-top: 1px;
}

.input-container.error .errors ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.input-container.error .errors li{
    margin: 3px 5px;
}

.input-container.error .errors i{
    color: var(--supporting__error-4);
    font-size: 18px;
    margin-top: 3px;
}
