<div class="container">
  <section class="login">
    <header>
      <h1>SERVICIO DE REPROGRAFÍA</h1>
      <h3>DA - ETSIINF</h3>
    </header>
    <div class="inputs">
      <app-text-input [labelText]="'Nombre de usuario'" [id]="'usernameInput'" (inputValue)="user.username = $event"
        [errors]="errors.username"></app-text-input>
      <app-text-input [labelText]="'Contraseña'" [id]="'passwordInput'" [type]="'password'" [errors]="errors.password"
        (inputValue)="user.password = $event"></app-text-input>
    </div>
    <button type="submit" (click)="login()">Login</button>
    <span class="go-to-register">
      ¿No tienes cuenta?
      <a href="./register">Regístrate</a>
    </span>
  </section>
</div>
