<div class="container">
  <main>
    <h1 class="header">Bienvenido al servicio de Reprografía de la ETSIINF</h1>
    <form action="">
      <h4 class="form__title">
        login
      </h4>
      <div class="email">
        <input type="text" name="email" placeholder="Correo">
        <label for="email">@alumnos.upm.es</label>
      </div>
      <input type="password" placeholder="Contraseña">
      <button>Login</button>
    </form>
    <div class="register">
      <span>¿No tienes cuenta?</span>
      <a href="">Regístrate</a>
    </div>

    <div class="lang">English</div>
  </main>
</div>
