aside {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

aside .upload {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: none;
  padding: 14px 10px;
  border-radius: 4px;
  background: var(--primary-3);
  color: var(--white);
  border: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  cursor: pointer;
}

aside nav {
  flex: 1;
}

aside nav ul {
  list-style: none;
}

aside nav ul li {
  font-size: 17px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

aside nav ul li .files-menu__option {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-weight: 700;
  height: 34px;
  padding: 5px;
  margin-left: 10px;
}

aside nav ul li.active .files-menu__option {
  width: 220px;
  border-left: 9px solid var(--primary-5);
  background: var(--neutrals-9);
  margin-left: 0;
}

aside nav ul li .files-menu__option span {
  width: 180px;
}

aside nav ul li .files-menu__option i {
  padding-right: 5px;
  transition: 0.1s all ease;
}

.divider {
  background: pink;
  height: 1px;
  width: 200px;
  margin: 10px 0;
}

.items {
  font-size: 13px;
  margin-left: 30px;
  margin-right: 5px;
  list-style: none;
  max-height: 0;
  overflow-y: hidden;
  transition: 0.2s all ease;
}

.show-aside-subjects {
  max-height: 200px;
}

.items li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.items li span {
  font-size: 13px;
}

.items i {
  color: var(--dark-2);
  font-size: 15px;
  margin-right: 5px;
}

.lang {
  margin-left: 46px;
  font-size: 14px;
}
