footer {
  padding: 0 10px;
  margin-top: 20px;
  color: var(--neutrals-1);
}


.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.daetsiinf {
  flex: 1;
  font-size: 14px;
  margin: 0 auto;
}

.link {
  font-size: 13px;
  padding: 7px 0;
}

.link a {
  text-decoration: none;
  color: inherit;
}

.copyright {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.copyright i {
  font-size: 14px;
  margin-right: 3px;
  text-align: center;
}

.icons {
  display: flex;
}

.icons>a {
  text-decoration: none;
  color: initial;
  display: flex;
  align-items: center;
  font-size: 12px;
}


svg {
  width: 23px;
  height: 23px;
  padding: 5px;
  fill: var(--dark-2);
}

.github svg {
  width: 17px;
  margin-left: 20px;
}
