footer {
  padding: 0 10px;
  margin-top: 20px;
}

.link,
.copyright {
  font-family: 'Lato';
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.daetsiinf {
  flex: 1;
  font-size: 14px;
  margin: 0 auto;
}

.link {
  font-size: 13px;
  padding: 7px 0;
}
.link a{
  text-decoration: none;
  color: inherit;
}
.copyright {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.copyright i {
  font-size: 14px;
  margin-right: 3px;
  text-align: center;
}
