<app-header></app-header>
<input type="file" id="uploadInput" style="display: none" (change)="uploadChange()" multiple>
<div class="container" (click)="hideOptions()">
  <app-aside></app-aside>
  <main [ngClass]="{'grid': (itemShowing.files.length + itemShowing.folders.length !== 0)}" (swipeleft)="goTo('/shared-with-me')"
    (swiperight)="goTo('/my-files')">
    <app-file-navigation></app-file-navigation>
    <div class="items" appDropZone (hovered)="toggleHover($event)" (dropped)="droppedFiles($event)" [class.hovering]="isHovering" (contextmenu)="togglePopupMenu($event, 'click')">

      <section class="empty" *ngIf="itemShowing.files.length + itemShowing.folders.length === 0">
        <img src="./assets/img/svg/empty.svg">
        <p>
          <span translate="empty_folder"></span>
          <span>. </span>
          <span translate="lets_start"></span>
        </p>
        <div class="buttons">
          <button (click)="triggerCreateFolder()">
            <i class="material-icons">folder</i>
            <span translate="create_folder"></span>
          </button>
          <button (click)="triggerUpload()">
            <i class="material-icons">cloud_upload</i>
            <span translate="upload_file"></span>
          </button>
        </div>
      </section>
      <section *ngIf="itemShowing.folders.length !== 0">
        <h5 translate="folders"></h5>
        <div class="grid folders">
          <app-item *ngFor="let item of itemShowing.folders" [item]="item"
            (click)="select($event, item)"></app-item>
        </div>
      </section>
      <section *ngIf="itemShowing.files.length !== 0">
        <h5 translate="files"></h5>
        <div class="grid files">
          <app-item *ngFor="let item of itemShowing.files; index as i" [item]="item" [index]="i"
            (click)="select($event, item)"></app-item>
        </div>
      </section>
      <app-upload-btn *ngIf="!isDragging"></app-upload-btn>
      <app-printer-drop-zone [ngStyle]="{'visibility': isDragging ? 'inherit' : 'hidden'}" [ngClass]="{'printer-drop-zone-height': isDragging}"></app-printer-drop-zone>
    </div>


    <app-change-name></app-change-name>
    <app-delete-item></app-delete-item>
    <app-create-folder></app-create-folder>
    <app-queue *ngIf="itemsInQueue.length > 0"></app-queue>
  </main>
  <app-item-popover></app-item-popover>
</div>
