<app-header></app-header>
<input type="file" id="uploadInput" style="display: none" (change)="uploadChange()" multiple>
<div class="container">
  <app-aside></app-aside>
  <main [ngClass]="{'grid': (getCurrentItems().length !== 0)}">
    <section (swipeleft)="goTo('/shared-with-me')" (swiperight)="goTo('/my-files')">
      <div class="loading" *ngIf="loading">
        <p>Cargando</p>
        <video src="./assets/loading/printer.avi"></video>
      </div>
      <div class="empty" *ngIf="!loading && getCurrentItems().length === 0">
        <p *ngIf="currentPage === '/my-files'">No has subido nada aún :(</p>
        <p *ngIf="currentPage === '/shared-with-me'">No te han compartido nada aún :(</p>
        <div class="gif">
          <iframe src="https://giphy.com/embed/3o7aTskHEUdgCQAXde" frameBorder="0"></iframe>
        </div>
      </div>
      <app-item *ngFor="let item of getCurrentItems()" [item]="item" (press)="select($event, item)" (click)="select($event, item)"></app-item>
    </section>
    <app-change-name></app-change-name>
    <app-queue *ngIf="itemsInQueue.length > 0"></app-queue>
    <app-upload-btn></app-upload-btn>
  </main>
</div>
