.container {
  display: flex;
  margin-top: 25px;
}

main {
  min-height: calc(100vh - 114px);
  position: relative;
  flex: 1px;
  margin: 0 40px;
  transition: .2s all ease;
}

main .grid {
  max-width: 95vw;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

.items {
  background: var(--neutrals-10);
  padding: 25px 40px;
  box-shadow: 0px 3px 19px -9px black;
  border-radius: 15px;
  border: 5px dashed transparent;
  position: relative;
  height: calc(100% - 112px);
}

.items.hovering {
  background: var(--complementary-10);
  border-radius: 5px;
  border: 5px dashed var(--complementary-5);
}

h5 {
  font-size: 11px;
  color: var(--neutrals-4);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.items section:not(:first-child) {
  margin-top: 25px;
}

.empty p,
.loading p {
  text-align: center;
  margin-bottom: 10px;
}

img {
  width: 100%;
  max-height: 50vh;
  margin: 30px auto;
}

.empty iframe {
  max-width: 480px;
  max-height: 204px;
}

.empty p{
  font-size: 17px;
  color: var(--neutrals-1);
}

.empty .buttons{
  display: flex;
  width: 300px;
  justify-content: space-around;
  margin: 10px auto 40px auto;
}

.empty .buttons button {
  display: flex;
  align-items: center;
  border: 1px solid var(--complementary-3);
  background: var(--complementary-9);
  padding: 10px 7px;
  border-radius: 5px;
}

.empty .buttons button:hover{
  background: var(--complementary-7);
  cursor: pointer;
}

.empty .buttons button i {
  color: var(--neutrals-4);
  margin-right: 10px;
  font-size: 16px;
}

.empty .buttons button span{
  color: var(--neutrals-2);
  font-size: 14px;
}

app-item {
  height: 100%;
  cursor: pointer;
  transition: .2s all ease;
  border: 4px solid transparent;
  border-radius: 4px;
}

app-item:hover {
  background: var(--neutrals-9);
}

.file-hover {
  background: var(--complementary-9);
  border: 4px solid var(--complementary-5);
  border-radius: 4px;
}

.selected {
  border-radius: 15px;
  border: 5px solid var(--complementary-5);
  background: var(--complementary-9);
}

app-queue {
  position: fixed;
  right: 100px;
  bottom: -50%;
  width: 800px;
  transition: .2s all ease;
  z-index: 1000;
}

app-printer-drop-zone {
  position: absolute;
  bottom: -5px;
  background: var(--primary-3);
  width: calc(100% + 10px);
  left: -5px;
  height: 0;
  border-radius: 50% 50% 15px 15px;
  transition: .2s all cubic-bezier(0, 0, 0.53, 1.38);
  box-shadow: 0px -3px 20px -6px var(--neutrals-4);
}

.printer-drop-zone-height {
  height: 175px;
}

@media screen and (max-width:992px) {
  main {
    padding-right: 0;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

  app-queue {
    width: 100%;
    right: 0;
  }
}
