.container {
  display: flex;
  margin-top: 25px;
}

main {
  min-height: calc(100vh - 212px);
  position: relative;
  flex: 1px;
  margin-bottom: 25px;
}

main section {
  background: var(--white);
  margin: 0 100px;
  padding: 25px 50px;
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width:992px) {
  main section {
    margin: 0 25px;
    padding: 15px 20px;
  }
}

section .header {
  text-transform: uppercase;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .header button {
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  background: var(--purple);
  text-transform: uppercase;
  color: var(--white);
  font-family: 'Oswald'
}

@media screen and (max-width:992px) {
  section .header {
    font-size: 10px;
  }

  section .header button {
    font-size: 12px;
    letter-spacing: .7px;
  }
}

.change-info {
  display: flex;
  margin-top: 25px;
}

.personal-data,
.change-password {
  flex: 1px;
  padding: 15px 0;
}

.personal-data h5,
.change-password h5 {
  font-size: 15px
}

.vertical-divider {
  height: 200px;
  background: #555;
  width: 1px;
  border-radius: 1px;
  margin: 0 30px;
}

@media screen and (max-width:992px) {
  .change-info {
    display: inherit;
  }

  .vertical-divider {
    display: none;
  }
}

.personal-data form,
.change-password form {
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
}

.personal-data .input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 14px;
}

.personal-data .input label {
  color: var(--dark-3);
  flex: 1
}

.personal-data .input input,
.change-password input {
  border: none;
  padding: 5px;
  flex: 1;
  width: 100%;
  background: none;
  border-bottom: 2px solid var(--dark-2);
  box-shadow: none;
  color: var(--dark-3);
  padding: 5px 10px;
  max-width: 200px;
}

.change-password input {
  margin-top: 10px;
  width: calc(100% - 20px);
}

.personal-data .input i {
  color: var(--dark-3);
  font-size: 18px;
  margin-left: 5px;
}

.submit-changes {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit-changes button {
  font-family: 'Oswald';
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  color: var(--white);
  border-radius: 4px;
}

.submit-changes button.disabled {
  cursor: not-allowed;
}

.submit-changes button.enabled {
  cursor: pointer;
}
