<app-header></app-header>
<div class="container">
  <app-aside></app-aside>
  <main>
    <section>
      <div class="header">
        <h2>Mis datos</h2>
        <button class="increase-balance">aumentar saldo</button>
      </div>
      <div class="change-info">
        <div class="personal-data">
          <h5>Tus datos personales</h5>
          <form action="">
            <div class="input name">
              <label for="name">Nombre</label>
              <input type="text" [(ngModel)]="nameEdited" name="name" placeholder="Escriba su nuevo nombre">
              <i class="material-icons">edit</i>
            </div>
            <div class="submit-changes">
              <button [ngClass]="(name!==nameEdited)?'enabled':'disabled'">Cambiar datos</button>
            </div>
          </form>
        </div>
        <div class="vertical-divider"></div>
        <div class="change-password">
          <h5>Cambiar contraseña</h5>
          <form action="">
            <input type="password" placeholder="Nueva contraseña">
            <input type="password" placeholder="Repita la nueva contraseña">
            <div class="submit-changes">
              <button [ngClass]="(name!==nameEdited)?'enabled':'disabled'">Cambiar datos</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <app-upload-btn></app-upload-btn>
  </main>

</div>
<app-footer></app-footer>
