<app-header></app-header>
<div class="container">
  <aside *ngIf="appComponent.deviceWidth === 'large'">
    <nav>
      <ul>
        <li [ngClass]="{'active': currentPage === '/my-documents'}" routerLink="/my-documents">
          <i class="material-icons">arrow_right</i>
          <span>Mis documentos</span>
        </li>
        <li [ngClass]="{'active': currentPage === '/shared-with-me'}" routerLink="/shared-with-me">
          <i class="material-icons">arrow_right</i>
          <span>Compartidos conmigo</span>
        </li>
        <div class="divider"></div>
        <li class="lang">
          <span>English</span>
        </li>
      </ul>
    </nav>
  </aside>
  <main (click)="goTo('/my-documents')" [ngClass]="{'grid': items.length !== 0}" (swipeleft)="goTo('/shared-with-me')" (swiperight)="goTo('/my-documents')">
    <section>
      <div class="empty" *ngIf="items.length === 0">
        <p *ngIf="currentPage === '/my-documents'">No has subido nada aún :(</p>
        <p *ngIf="currentPage === '/shared-with-me'">No te han compartido nada aún :(</p>
        <div class="gif">
          <iframe src="https://giphy.com/embed/3o7aTskHEUdgCQAXde" frameBorder="0"></iframe>
        </div>
      </div>
      <app-item *ngFor="let item of items" [item]="item" (press)="select($event, item)" (click)="select($event, item)"></app-item>
    </section>
    <app-upload-btn></app-upload-btn>
  </main>
</div>
<app-footer></app-footer>
