.container {
  display: flex;
  margin-top: 25px;
}

aside {
  width: 220px;
}

aside nav ul li .documents-menu__option {
  display: flex;
  align-items: center;
  font-size: 15px;
  height: 34px;
  border-radius: 0 5px 5px 0;
  margin: 10px 20px 0 9px;
  cursor: pointer;
  padding: 5px;
  font-family: 'Lato';
  font-weight: 700;
}

aside nav ul li.active .documents-menu__option {
  border-left: 9px solid var(--blue);
  background: #E4E4E4;
  margin-left: 0;
}

aside nav ul li .documents-menu__option i {
  padding-right: 5px;
  transition: .1s all ease;
}

.divider {
  background: #c0c0c0;
  height: 1px;
  width: 200px;
  margin: 10px 0;
}

.items {
  font-size: 13px;
  font-family: 'Lato';
  margin-left: 30px;
  margin-right: 5px;
  list-style: none;
  height: 0;
  overflow: hidden;
}

.show-aside-subjects {
  height: inherit;
}

@keyframes toggleSlide {
  from {
    height: 0;
  }
  to {
    height: initial;
  }
}

.items li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.items i {
  color: var(--dark-2);
  font-size: 15px;
  margin-right: 5px;
}

.lang span {
  margin-left: 29px;
}

main {
  min-height: calc(100vh - 202px);
  position: relative;
  flex: 1px;
}

main.grid section {
  max-width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

.empty p,
.loading p {
  text-align: center;
  margin-bottom: 10px;
}

.empty .gif {
  width: 100%;
  display: flex;
  justify-content: center;
}

.empty iframe {
  max-width: 480px;
  max-height: 204px;
}

app-item {
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}

.selected {
  border-radius: 15px;
  border: 5px solid var(--purple);
  background: rgb(233, 233, 233);
}
