section {
  position: fixed;
  right: 20px;
  top: 120px;
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 15px;
}

.notification {
  background-color: var(--neutrals-2);
  color: var(--neutrals-10);
  border-top: 5px solid;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: var(--neutrals-10) 0px 3px 13px -5px;
  transition: .3s all ease;
  max-width: 300px;
}

.error {
  border-color: var(--complementary-4);
}

.ok {
  border-color: var(--supporting__ok-4);
}

.info {
  border-color: var(--complementary-4);
}

.loading {
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header i {
  font-size: 16px;
  color: var(--neutrals-10);
  margin-left: 15px;
}

.description {
  font-size: 13px;
  margin-top: 32px;
  color: var(--neutrals-9);
}
