<div class="item" #file (press)="toggleOptions()" (mouseover)="toggleOptionsIcon(file, 'inherit')" (mouseleave)="toggleOptionsIcon(file, 'none')">
  <i class="material-icons options-icon" (click)="toggleOptions()">more_vert</i>
  <nav class="options" *ngIf="showOptions" [ngClass]="{'show-options':showOptions}">
    <ul>
      <li *ngIf="item.type !== 'folder'" (click)="addFileToQueue(item.id, item.name, item.pages)">Añadir a la cola</li>
      <li class="delete">Eliminar</li>
    </ul>
  </nav>
  <i class="material-icons folder" *ngIf="item.type === 'folder'">folder</i>
  <i class="material-icons file" *ngIf="item.type === 'pdf'">picture_as_pdf</i>
  <h5 *ngIf="item.shorten">
    {{item.shorten}}
  </h5>
  <h5 *ngIf="!item.shorten">
    {{item.name}}
  </h5>
</div>
