.item {
  text-align: center;
  margin: auto;
  position: relative;
  padding-top: 10px;
}

.item .item-icon {
  width: 100%;
  font-size: 55px;
  color: var(--neutrals-4);
}

.options-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  font-size: 20px;
  width: 20px;
  text-align: center;
  color: var(--primary-1);
}

.options {
  position: absolute;
  right: 0;
  top: 10px;
  transition: .1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  white-space: nowrap;
}

@keyframes options {
  0% {
    opacity: 0;
    top: 0;
  }

  100% {
    top: 25px;
  }
}

.show-options {
  animation-name: options;
  animation-duration: .3s;
  top: 25px;
  z-index: 1;
}

.options ul {
  list-style: none;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
  background: var(--neutrals-10);
  border-radius: 4px;
}

.options ul li {
  padding: 10px 15px;
}

.options ul li.delete {
  color: var(--supporting__error-5);
}

.options ul li:hover {
  background: var(--neutrals-9);
  border-radius: inherit;
}

.options ul li.delete:hover {
  background: var(--supporting__error-9);
}



h5 {
  font-weight: 400;
  font-size: 14px;
  color: var(--neutrals-3);
  white-space: nowrap;
  padding: 0 3px;
}
